<div class="pitch-details" *ngIf="pitch">
    <div class="card mb-4">
        <div class="card-body">
            <h5 class="card-title text-info">{{pitch.name}}</h5>
            <ul class="list-group list-group-flush ">
                <li class="list-group-item"><span class="text-info">Adres:</span> {{pitch.address}}</li>
                <li class="list-group-item"><span class="text-info">Opis:</span> {{pitch.description}}</li>
            </ul>
        </div>
    </div>

    <div class="card m-2">
        <div class="card-header">
            <h5>Wydarzenie x</h5>
        </div>
        <div class="card-body">
            <h6>Czas</h6>
            <p>19:19</p>
            <h6>Opis</h6>
            <p>Fajnie będzie, zapraszam</p>

            <h6>Autor</h6>
            <p>Tomasz Trąbalski</p>

            <button class="btn btn-info">Info</button>
            <button class="btn btn-success">Dołącz!</button>
        </div>
    </div>

    <div class="card m-2">
            <div class="card-header">
                <h5>Wydarzenie x</h5>
            </div>
            <div class="card-body">
                <h6>Czas</h6>
                <p>19:19</p>
                <h6>Opis</h6>
                <p>Fajnie będzie, zapraszam</p>

                <h6>Autor</h6>
                <p>Tomasz Trąbalski</p>

                <button class="btn btn-info">Info</button>
                <button class="btn btn-success">Dołącz!</button>
            </div>
    </div>
    <div class="card m-2">
            <div class="card-header">
                <h5>Wydarzenie x</h5>
            </div>
            <div class="card-body">
                <h6>Czas</h6>
                <p>19:19</p>
                <h6>Opis</h6>
                <p>Fajnie będzie, zapraszam</p>

                <h6>Autor</h6>
                <p>Tomasz Trąbalski</p>

                <button class="btn btn-info">Info</button>
                <button class="btn btn-success">Dołącz!</button>
            </div>
    </div>

    <button class="btn btn-block btn-info m-2">Dodaj wydarzenie</button>
</div>