
<div class="header">
<h2>What is Team Finder?</h2>
<h3>And quick story of its creators</h3>
</div>

<div class="container">

    <div class="column">
            <h4>Create the best team</h4>
            <p>Your friends don't want to play with You anymore? No problem, find another team. Have You ever dreamt about creating Your own one? Is there any better way to do it than meeting with every player around? We don't think so. That's why we give you the perfect tool to meet, play with and communicate with other players around You.</p>

    </div>

    <div class="column">       
            <h4>Meet new people</h4>
        <p>You want to play football and don't have any friends? (I gotchu bro) Not a problem at all! Team Finder is a perfect opportunity to meet other players in Your city, create Your team or just to make sure that you'll always have someone to play with. Just choose a pitch and invite others to play or join other ones' games.</p>
    </div>

    <div class="column">

        <h4>Improve Your performance</h4>
        <p>Thanks to Team Finder You are able to compete with many players with various experience. This way you'll be able to develop skills and test yourself against other players, moreover every match can be different with Team Finder because You don't know who'd join the match today, making it more interesting and challenging experience</p>

    </div>
</div>