.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 15px;
}

.card-fotter {
    padding: 10px 15px;
}

.card {
    background-color: rgb(179, 232, 214);
}