footer{
    min-height:130px;
    width:100%;
    background-image: linear-gradient(#62c462, #3fa33f);
    position: fixed;
    bottom:0;
    box-shadow: 5px -5px 20px 1px #888888;
    z-index: 90909;
}
.tea-grid {
    margin: 0.4em;
    display: grid;
    grid-template-areas: "a";    
}

.tea-grid > * {
    grid-area: a;
}

#tt {
    animation-name: movement;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes movement {
    0% {
        transform: rotate(5deg) translateY(0%);
    }
    50% {
        transform: rotate(0deg) translateY(1%);
    }
    100% {
        transform: rotate(-5deg) translateY(0%);
    }
}