<div class="card m-2" *ngIf="ev">
    <div class="card-header">
        <div class="row">
            <h5>Event #{{ev.id}}</h5>
            <h6 class="text-muted">{{ev.dateFrom}}</h6>
        </div>
    </div>
    <div class="card-body">
        <p class="text-info">{{ev.participants?.length || 0}}/{{ev.maxPlayers}} players</p>
        <h6>Description</h6>
        <p>{{ev.description}}</p>
        <button class="btn btn-success" (click)="onEventJoinClick()">Join!</button>
        <h6 *ngIf="!hidePitch" class="mt-4">PLace: {{ev.pitch?.name}}</h6>
    </div>
</div>